<nav class="navbar navbar-light bg-grey">
    <div class="d-flex align-items-center" style="position: relative; width: 100%;">
        <button class="btn_lunch me-3" type="button" id="toggleButton">
            <!-- <img src="Logos/Lunch-removebg-preview.png" alt="Logo" style="width: 50px; height: auto;"> -->
        </button>


        <span class="navbar-text" id="lunchUIS">Lunch UIS</span>

        <div class="ms-auto d-flex align-items-center">
            <button class="btn_lunch me-2" type="button" id="notificationButton">
                <!-- <img src="Images/campana-removebg-preview.png" alt="Notificaciones" style="width: 27px; height: auto;"> -->
            </button>
            <div class="info-container" id="notificationContainer"
                style="display: none; position: absolute; top: 100%; right: 0; z-index: 1000;">
                <h3 class="text-titulo">Notificaciones</h3>
                <p class="textInfo">Aquí van tus notificaciones.</p>
            </div>

            <button class="btn_lunch" type="button" id="profileButton">
                <!-- <img src="Images/foto perfil.png" alt="Perfil" style="width: 40px; height: auto;"> -->
            </button>
            <div class="info-container" id="profileContainer"
                style="display: none; position: absolute; top: 100%; right: 0; z-index: 1000;">
                <div style="text-align: center; margin: 10px 0;" id="profilePhoto">
                    <!-- <img src="Images/foto perfil.png" alt="Perfil" style="width: 150px; height: auto;"> -->
                </div>
                <p class="textInfo2">Nombre del Usuario</p>
                <p class="textInfo2">Rol del usuario</p>
                <p class="textInfo2">Codigo del usuario</p>

                <div class="button-container">
                    <button class="btn_perfil" id="btnMisCompras">Mis Compras</button>
                    <button class="btn_perfil" id="btnCerrarSesion">Cerrar Sesión</button>
                </div>
            </div>
        </div>
    </div>
</nav>